@charset "utf-8";
@font-face {
	font-family: "fb-text";
	src: url("https://kud0a.github.io/ZenKurenaido-Regular.ttf") format("truetype");
}

*{
	--textheight: calc(var(--fontsize) * 2 - 1px);
	--fontsize: 12px;

	color:rgba(0,0,0,.5);
    text-shadow: 0 0 .1em rgba(0,0,0,.1);
	font-family: "fb-text";
	font-size: var(--fontsize);
    font-display: swap;
}

font,a{position: relative;}

body{
	padding: 0 .5em;
    background: #f5f5fa;

    scrollbar-width: none;
    -ms-overflow-style: none;
&::-webkit-scrollbar{display:none;}
}



.main{
	padding: .2em .1em;
	margin: -1.5em auto;
    line-height: 2em;
}

.title{
    font-size: 1.5em;
    padding: .1em;
    opacity: .8;
    color: #f5f5fa;
    background: #111;
}

hr{
	visibility: hidden;
	position: relative;
	background: transparent;
}
#container hr{height: 5em;}
#container hr:nth-of-type(-n+1){height: 0;}

#container{overflow: hidden;}
.contents{
    margin: 0 0;
    width: 100%;
    max-width: 100%;
}

* textarea{
    resize: vertical;
    width: 50%;
    height: 12em;
    margin: 0 auto;
    background: transparent;
    border: none;
    display: flex;
}

rt{
    font-size: 0.6em;
    letter-spacing: 0.1em;
}

